/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow: hidden;
}

body { 
  font: 13px 'Helvetica Neue', Arial, sans-serif;
  background: #D8D5D2;
  background: #000;
  color: #222;
  line-height: 1.6em;
  display: block;
}

#viewport {
    width:100%;
     height:450px;
     position:relative;
     overflow:hidden;
     margin:0 auto;
     background:#212121;
}

.tile {
    width: 150px;
    height: 225px;
    border-radius: 3px;
    opacity: 0.8;
    
    -webkit-transition-duration: 0.2s;
       -moz-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;

    -webkit-transition-property: height, width, opacity, border-radius;
       -moz-transition-property: height, width, opacity, border-radius;
         -o-transition-property: height, width, opacity, border-radius;
            transition-property: height, width, opacity, border-radius;
}

.tile img {
    width: 150px;
    height: 225px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 10px #000;
    box-shadow: 1px 1px 10px #000;        
    
    -webkit-transition-duration: 0.2s;
       -moz-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;

    -webkit-transition-property: height, width, opacity, border-radius, transform, -webkit-transform;
       -moz-transition-property: height, width, opacity, border-radius;
         -o-transition-property: height, width, opacity, border-radius;
            transition-property: height, width, opacity, border-radius;
}

.tile img:hover {
    opacity: 1;
    
    /*
    width: 160px;
    height: 235px;
    */
    
    z-index: 9999999;
    -moz-box-shadow: 0px 0px 20px #1f1f1f;
    -webkit-box-shadow: 0px 0px 20px #1f1f1f;
    box-shadow: 0px 0px 20px #1f1f1f;        
    
    transform: scale(1.05);
    -webkit-transform:  scale(1.05) translate(-4px,-5px); /* prefixo para browsers webkit */
    -moz-transform:     scale(1.05) translate(-4px,-5px); /* prefixo para browsers gecko */
    -o-transform:       scale(1.05)

    border-radius: 5px;
    -webkit-border-radius: 5px;    
}

.tile:hover {
   opacity: 1;
   z-index: 9999999;
   
}
