/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/
  font-family: 'EB Garamond', serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
    text-decoration: none;
    color: #ededed;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

html {
  overflow: hidden;
}

ol,ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body { 
  font: 16px 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;

  background: #D8D5D2;
  background: #000;
  color: #ededed;
  line-height: 1.6em;
  display: block;
}

h1 {
    /*font-family: "helvetica neue", helvetica, arial, verdana, sans-serif;*/
    font-family: 'EB Garamond', serif;
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f1f1;
}

p {
    margin-bottom: 10px;
}

.squarebuttons {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #FF8A00;
    width: 300px;
    line-height: 36px;

    margin: 0px auto;

    -webkit-transition: all .1s ease-out;
       /*-moz-transition: all .2s ease-in-out;*/
         /*-o-transition: all .2s ease-in-out;*/
            /*transition: all .2s ease-in-out;*/
}

.squarebuttons:hover {
    -webkit-transform: scale(1.1);
}


.menubuttons {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 52px;
}



.left {
    float: left;
}

.right {
    float: right;
}

.pink {
    background-color: #EA1592;
}

.green {
    background-color: #04EDB3;
}

.s300 {
    width: 300px;
}

.s200 {
    width: 200px;
}

.s150 {
    width: 150px;
}

.s100 {
    width: 100px;
}




#overlay {
    width: 100%;
    height: 600px;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    background: #000;
    opacity: 0.93;
}

.infoscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -450px;

    /* starts hidden*/
    display: none;
}

.infoscreen .left {
    width: 400px;
    height: 600px;
    float: left;
    position: relative;
    margin: 0px auto;
}

.infoscreen .right {
    width: 500px;
    height: 600px;
    float: right;
}

.infoscreen .right .top {
    margin-top: 60px;
    height: 400px;
    display: block;
}

.infoscreen .right .bottom {
    position: relative;
    bottom: 0px;
}

/*.logo {*/
    /*display: block;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
    /*left: 30px;*/
/*}*/

#viewport {
    width:100%;
     height: 100%;
     position:relative;
     overflow:hidden;
     margin:0 auto;
     background:#212121;
}

#menu {
    position: fixed;
    height: 52px;
    width: 100%;
    top: 0px;
    z-index: 1010;
}

#menu ul {
    height: 52px;
    /*background-color: rgba(0,0,0,0.8);*/
}

#menu ul li {
    border: 1px solid #e1e1e1;
}


#menu ul li:hover {
    border: 2px solid #e1e1e1;
}

#menu ul li .active {
    border: 2px solid #e1e1e1;
}

.tile {
    width: 150px;
    height: 225px;
    /*border-radius: 3px;*/
    opacity: 0.8;
    
    -webkit-transition-property: height, width, opacity, border-radius;
       -moz-transition-property: height, width, opacity, border-radius;
         -o-transition-property: height, width, opacity, border-radius;
            transition-property: height, width, opacity, border-radius;
}

.tile img {
    width: 150px;
    height: 225px;
    /*border-radius: 3px;*/
    /*-moz-box-shadow: 1px 1px 10px #000;*/
    /*-webkit-box-shadow: 1px 1px 10px #000;*/
    /*box-shadow: 1px 1px 10px #000;        */
    
    -webkit-transition-duration: 0.25s;
       -moz-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
            
    /*
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    */

    -webkit-transition-property: height, width, opacity, border-radius, transform, -webkit-transform;
       -moz-transition-property: height, width, opacity, border-radius;
         -o-transition-property: height, width, opacity, border-radius;
            transition-property: height, width, opacity, border-radius;
}

.tile img:hover {
    opacity: 1;
    
    /*
    width: 160px;
    height: 235px;
    */
    
    z-index: 10;
    /*-moz-box-shadow: 0px 0px 20px #1f1f1f;*/
    /*-webkit-box-shadow: 0px 0px 20px #1f1f1f;*/
    /*box-shadow: 0px 0px 20px #1f1f1f;        */
    
    transform: scale(1.05);
    -webkit-transform:  scale(1.05) translate(-5px,-5px); /* prefixo para browsers webkit */
    -moz-transform:     scale(1.05) translate(-4px,-5px); /* prefixo para browsers gecko */
    -o-transform:       scale(1.05) translate(-4px,-5px); 

    /*border-radius: 5px;*/
    /*-webkit-border-radius: 5px;    */
}

.tile:hover {
   opacity: 1;
   z-index: 12;
   
}
