<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Banco mundial de genitalia</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta name="description" content="Banco genital">
    <meta name="author" content="Carolina Barrueco, Luiza Só">
    
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    <script src="{{ STATIC_URL }}js/jquery/jquery.min.js" type="text/javascript" charset="utf-8" ></script>    
    
    <style type="text/css" media="screen">
        body {
            background-color: #1d1d1d;
        }
        
        .logo {
            font-family: 'Poiret One', cursive;
            font-size: 64px;
            color: #fff;
            
        }
    </style>
</head>

<body>
    
    <h2 class="logo">Banco Mundial da Genitalia</h2>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31460681-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
</body>
</html>