<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Banco mundial da genitalia</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta name="description" content="Banco genital">
    <meta name="author" content="Carolina Barrueco, Luiza Só">
    
    <meta property="og:title" content="Banco Mundial da Genitália" />
    <meta property="og:description" content="Banco Mundial da Genitália" />
    <meta property="og:image" content="thumbnail_image" />

    <link rel="image_src" href="http://genitalia.me/fb_logo.jpg" /> 

    <link href='http://fonts.googleapis.com/css?family=Domine:400,700|EB+Garamond&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    
    <!--
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    -->
    
    <link href="{{ MEDIA_URL }}assets/css/app4.css" rel="stylesheet">
    
    <script src="{{ MEDIA_URL }}assets/js/mootools/mootools-core-1.3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/js/mootools/mootools-more-1.3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/js/mootools/wall.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="{{ MEDIA_URL }}assets/js/jquery/jquery.min.js" type="text/javascript" charset="utf-8" ></script>    
    <script src="{{ MEDIA_URL }}assets/js/jquery/jquery.zoomooz.js" type="text/javascript" charset="utf-8" ></script>    
    
    <script src="{{ MEDIA_URL }}assets/js/app4.js" type="text/javascript" charset="utf-8" ></script>

    
    <script type="text/javascript">
        var MEDIA_URL  = "{{ MEDIA_URL }}";
        var STATIC_URL = "{{ STATIC_URL }}";
    </script>
</head>

<body>
    <div id="overlay">
        <div id="startmessage" class="infoscreen">
            <div class="left">
                <a href="#">
                    <img src="{{MEDIA_URL}}assets/img/genitalia_logo2.png" class="logo">
                </a>
            </div>
            <div class="right">
                <div class="top">
                    <h1>BMG</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum laoreet erat, eget scelerisque felis sollicitudin non. Integer accumsan, magna at dignissim aliquam, nunc enim semper felis</p>


                    <p>Pellentesque eu mattis leo. Curabitur ante quam, feugiat vitae aliquam sit amet, mollis sed arcu. Pellentesque vitae ultricies lacus. Praesent venenatis sodales urna vel eleifend. Sed ut leo a est </p>

                </div>

                <div class="bottom">
                    <a href="#" class="squarebuttons" id="enter-site">bora!</a>
                </div>
            </div>
        </div>
    </div>
    <div id="viewport">
        <div id="menu">
            <ul> 
                <li><a href="/about">About</a></li>
                <li><a href="/upload">Mostra o seu!</a></li>
            </ul>
        </div>
        <div id="wall"></div>
    </div>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31460681-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
