<!DOCTYPE html>
<html lang="en">
<head>

<!--

  __
 /  |              \                     . .-:.     ::- :.
(__________________ \                  ,;'  ';;.   ;;;;  ';,
|   _______________ /                  n[     '[[,[[['    [n
|__/               /                   Y$       c$$"      $Y
                                        8o    ,8P"`     ,o8
                                         "   mM"        M"

-->

    <meta charset="utf-8">
    <title>Banco mundial da genitalia</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Banco genital">
    <meta name="author" content="Caroline Barrueco, Luiza Só, Vitor Faleiros">

    <meta property="og:title" content="Banco Mundial da Genitália" >
    <meta property="og:description" content="Banco Mundial da Genitália" >
    <meta property="og:image" content="thumbnail_image" >

    <link rel="image_src" href="http://genitalia.me/fb_logo.jpg" >
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/genitalia_logo3.jpg">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Domine:400,700|EB+Garamond&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Nova+Square|Bevan' rel='stylesheet' type='text/css'>               -->

    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">


    <script type="text/javascript">
        var MEDIA_URL  = "{{ MEDIA_URL }}";
        var STATIC_URL = "{{ STATIC_URL }}";
    </script>
    <script src="{{ STATIC_URL }}js/vendors.min.js" type="text/javascript" charset="utf-8" ></script>
    <script src="{{ STATIC_URL }}js/app.js" type="text/javascript" charset="utf-8" ></script>
</head>

<body>
    <div id="overlay" class="unselectable">
        <div id="startmessage" class="infoscreen">
            <!--
                -->
        </div>

        <!-- upload -->
        <div id="mostraoteu" class="infoscreen">
                <div class="top">
                    <form action="/photo/verify" method="POST" enctype="multipart/form-data" id="photo-submit" class="square">
                        <input name="photo" type="file" style="display: none;">

                        <div class="message">
                           <a id="bt-file">
                                <i class="icon-plus icon-4x"></i>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="bottom">
<!--                         <a href="javascript: return false;" class="squarebuttons" id="bt-submit-photo">
                            <i class="icon-arrow-left icon-2x"></i>
                        </a>
 -->                        <a href="#" class="squarebuttons" id="bt-submit-photo">
                            upload
                            </a>
                </div>

                <div class="hidden" id="uploadSuccessMessage">
                </div>
        </div>

        <!-- TAKE PICTURE -->
        <div id="photobooth" class="infoscreen">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="459" height="344" id="openbooth">
                    <param name="movie" value="{{ STATIC_URL }}swf/openbooth.swf" />
                    <param name="allowScriptAccess" value="always">

                    <!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="{{ STATIC_URL }}swf/openbooth.swf" width="459" height="344">
                    <!--<![endif]-->
                      <p>No flash detected</p>
                    <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
              </object>
        </div>


    </div>



    <div id="viewport" class="unselectable">
        <div id="menu">
            <ul>
                <li class="right">
                    <a id="menu-mostraoteu" href="/upload" class="squarebuttons s100">
                        <i class="icon-plus icon-2x"></i></a>
                </li>
            </ul>
        </div>
        <div id="wall" class="unselectable"></div>
    </div>
    <div id="loading" class="unselectable"><p>loading ...</p></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31460681-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        // FUCK TRACKING
        //var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    </body>
</html>
