<!DOCTYPE html>
<html lang="en">
<head>

<!--

  __
 /  |              \                     . .-:.     ::- :.
(__________________ \                  ,;'  ';;.   ;;;;  ';,
|   _______________ /                  n[     '[[,[[['    [n
|__/               /                   Y$       c$$"      $Y
                                        8o    ,8P"`     ,o8
                                         "   mM"        M"

                                         coded by github.com/barrabinfc

-->

    <meta charset="utf-8">
    <title>Banco Mundial da Genitália</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Banco genital">

    <meta property="og:title" content="Banco Mundial da Genitália" >
    <meta property="og:description" content="Banco Mundial da Genitália" >
    <meta property="og:image" content="thumbnail_image" >

    <link rel="image_src" href="http://genitalia.me/fb_logo.jpg" >
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/genitalia_logo3.jpg">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Domine:400,700|EB+Garamond&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Nova+Square|Bevan' rel='stylesheet' type='text/css'>               -->

    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">


</head>

<body>

    <div id="overlay" class="overlay unselectable">
      <!--
        <div id="startmessage" class="infoscreen">
             Are you 18+ and not easily offended ?
        </div>
      -->

        <!-- upload -->
        <div id="mostraoteu" class="infoscreen">
                <h3 class="info label-warning"></h3>
                <div class="photo-container">
                    <form action="/photo/verify" method="POST" enctype="multipart/form-data" id="photo-submit" class="square">
                        <input name="photo" type="file" style="display: none;">
                        <div class="dz-message">Choose a file or drag it here</div>
                    </form>
                </div>
                <div class="bottom">
                    <div class="progressbar"><div class="bar"></div></div>
                 </div>
        </div>

        <!-- Photo View -->
        <div id="photoview" class="photoview">
            <div class="container">
              <div class="media left" id="">
                <img class="photo" src="http://rockcandymedia.com/puggin.it/pugs/03387a446a154ce49e083722b2482322.jpg" />
              </div>
              <div class="media center" id="">
                <img class="photo" src="http://rockcandymedia.com/puggin.it/pugs/4e39c366e5d7127410f0c9e119dc0a27.jpg">
              </div>
              <div class="media right" id="">
                <img class="photo" src="http://rockcandymedia.com/puggin.it/pugs/4a939e85264f3e0fffa026d3c4f34399.jpg">
              </div>
            </div>


            <div class="controls">
              <a class="previous" href="#">
                ⇠
              </a>
              <a class="spacer"></a>
              <a class="next" href="#">
                ⇢
              </a>
            </div>

        </div>
    </div>

      <div id="menu">
          <ul>
              <li class="float right">
                  <a id="menu-mostraoteu" href="#upload" class="squarebuttons s100">
                      <i class="icon-plus icon-2x" style="vertical-align: middle;"></i>
                  </a>
              </li>
          </ul>
      </div>


    <div id="viewport" class="unselectable">
        <div id="wall" class="unselectable"></div>
    </div>

    <div id="loading" class="unselectable"><p>:.:.:</p></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31460681-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        // FUCK TRACKING
        //var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript">
        var MEDIA_URL  = "{{ MEDIA_URL }}";
        var STATIC_URL = "{{ STATIC_URL }}";

        window.API_URL = '/pugs/json'
        window.API_SUBMIT_PHOTO = '/photos/upload'
        window.API_VERIFY_PHOTO = '/photos/verify'
    </script>
    <script src="{{ STATIC_URL }}js/vendors.js" type="text/javascript" charset="utf-8" ></script>
    <script src="{{ STATIC_URL }}js/app.js" type="text/javascript" charset="utf-8" ></script>

    </body>
</html>
